name: tests

on:
  push:
    branches-ignore:
      - main
      - master
    paths-ignore:
      - '**.md'

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '21'
      - name: Run tests
        run: ./gradlew test
